{% extends "base.html" %}
{% set title='Change Password' %}
{% block content %}


<div class="box">

    <div class="icon">🔐</div>

    <h1>Change Password</h1>

    <p class="subtitle">
        Create a new password for your account
    </p>

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    {% if success %}
        <div class="success">
            {{ success }}
        </div>
    {% endif %}

    <form method="POST" action="/change-password">

        <label>Current Password</label>

        <input
            type="password"
            name="current_password"
            placeholder="Enter current password"
            required
        >

        <label>New Password</label>

        <input
            type="password"
            name="new_password"
            placeholder="Enter new password"
            minlength="10"
            required
        >

        <label>Confirm New Password</label>

        <input
            type="password"
            name="confirm_password"
            placeholder="Confirm new password"
            minlength="10"
            required
        >

        <button type="submit">
            🔒 Change Password
        </button>

    </form>

    <a class="back" href="/student">
        ← Back to Student Dashboard
    </a>

</div>
{% endblock %}
